/**使用qtip组件分享内容的样式**/
.qtip .share-content{margin:0px; padding:0 3px;background-color:#ffffff;font-size:14px;overflow: hidden; border:1px solid #ccc;border-top:0;}
.qtip .share-content a{float: left;height: 18px; margin: 4px 0;padding-left: 26px;color: black; padding:2px 15px;}
.qtip .share-icon{background: url(../image/share_ico.gif) no-repeat;} 
.qtip .share-sohu{background-position:0 -5px; }
.qtip .share-wangyi{background-position:0 -29px; } 
.qtip .share-qq{background-position:0 -53px; } 
.qtip .share-sina{background-position:0 -79px; } 
.qtip .share-douban{background-position:0 -105px; }    
.qtip .share-renren{background-position:0 -130px; }    
.qtip .share-kaixin{background-position:0 -156px; }    
.qtip .share-shuoke{background-position:0 -178px; }

/**图片使用ptip组件分享内容的样式**/
/**.share-content{margin:0px; padding:0 3px;background-color:white;font-size:14px;overflow: hidden;}
/**.share-content a{float: left; margin: 5px 0 4px;padding-left: 26px;color: black; height: 35px;  }**/
.ptip .share-content{margin:0px; padding:0 3px;background-color:white;font-size:14px;overflow: hidden;height: 28px;}
.ptip .share-content a{float: left;width:25px; height:28px; *height:21px; text-ailgin:left;margin: 5px 0 4px; }
.ptip .share-icon{background: url(../image/share_ico.gif) no-repeat;} 
.ptip .share-sohu{background-position:0 -5px; }
.ptip .share-wangyi{background-position:0 -29px; } 
.ptip .share-qq{background-position:0 -54px; } 
.ptip .share-sina{background-position:0 -79px; } 
.ptip .share-douban{background-position:0 -105px; }    
.ptip .share-renren{background-position:0 -130px; }    
.ptip .share-kaixin{background-position:0 -156px; }    
.ptip .share-shuoke{background-position:0 -178px; }