/***ptip��ʽ****/

.ui-appendtip-tip { background:url(../image/fx_bg.gif)  -282px top no-repeat;display: none;overflow: hidden;opacity: 1;z-index: 15013; width: 250px; position:relative; padding-top:7px;*padding-top:0px;_padding-top:7px;}

.ui-appendtip-titlebar{ clear: both; overflow: hidden;*height:7px;_height:auto;}

.ui-appendtip-title {width: 80%;*width: auto; }

.ui-appendtip-close{background: url("../image/share_ico.gif") no-repeat scroll 4px -224px transparent;
cursor: pointer;font-size: 12px;height: 20px;margin: 6px 4px 0 0;*margin: 13px 4px 0 0;_margin: 6px 4px 0 0;position: absolute;right: 0;width: 25px;z-index: 2; 
}



.ui-appendtip-title a:hover{background: url(../image/share_ico.gif)4px -246px no-repeat;  }

.ui-appendtip-content{ border:1px solid #ccc; border-top: none;}

.ui-appendtip-tip {display: none;overflow: hidden;opacity: 1;z-index: 15013; width: 245px;}

.ui-appendtip-pos{position:absolute;}

.ui-appendtip-title {float: left;}

.ui-appendtip-titlebar a:hover{background: url(../image/share_ico.gif) 4px -246px no-repeat }


.ui-tooltip, .qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;	
	font-size: 10.5px;
	line-height: 12px;
	background-color:#ffffff;
	_border:1px solid #ccc;

}

.ui-tooltip, .qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;	
	font-size: 10.5px;
	line-height: 12px;
}
	
	.ui-tooltip-titlebar{
		position: relative;
		min-height: 14px;
		padding: 5px 35px 5px 10px;
		overflow: hidden;
		border: 1px solid #ccc;		
		border-bottom:none;
		
		_border:none;
		font-weight: bold;
		background:#ffffff;
	}

		/*! Default close button class */
		.ui-tooltip-titlebar .ui-state-default{
			position: absolute;
			right: 4px;
			top: 50%;
			margin-top: -9px;

			cursor: pointer;
			outline: medium none;

			border-width: 1px;
			border-style: solid;
		}
		
		* html .ui-tooltip-titlebar .ui-state-default{ top: 16px; } /* IE fix */

		.ui-tooltip-titlebar .ui-icon,
		.ui-tooltip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
		}

		.ui-tooltip-icon, .ui-tooltip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}

			.ui-tooltip-icon .ui-icon{
				width: 18px;
				height: 14px;

				text-align: center;
				text-indent: 0;
				font: normal bold 10px/13px Tahoma,sans-serif;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}

	.ui-tooltip-default .ui-tooltip-titlebar{
		background-color: #f1f1f1;
	}
		.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover{
		border-color: #AAA;
		color: #111;
	}

		
/*���ǽ� */
.ui-tooltip-youtube{
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
}
.ui-tooltip .ui-tooltip-tip canvas {
    left: 0;
    top: 0;
	
}

.ui-tooltip .ui-tooltip-tip, .ui-tooltip .ui-tooltip-tip * {
    background: none repeat scroll 0 0 transparent;
    border: 0 dashed transparent;
    color: #123456;
    font-size: 0.1px !important;
    line-height: 0.1px !important;
    position: absolute;
}
	.ui-tooltip-youtube .ui-tooltip-titlebar,
	.ui-tooltip-youtube .ui-tooltip-content{
		_margin-bottom: 0; /* IE6 */
		.margin-bottom: 0; /* IE7 */

		background: transparent;
		background: rgba(0, 0, 0, 0.85);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9000000,endColorstr=#D9000000)";

		color: white;
		border-color: #CCCCCC;
	}
	.ui-tooltip-youtube .ui-tooltip-icon{
		border-color: #222;
	}
	.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover{
		border-color: #303030;
	}

/**�������ݵ���ʽ**/
/* Tips plugin */
.ui-tooltip .ui-tooltip-tip{
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
}
.ui-tooltip-default .ui-tooltip-icon {
    background: none repeat scroll 0 0 #F1F1F1;
    border-color: #CCCCCC;
    color: #777777;
}

.ui-tooltip-titlebar .ui-state-default {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-top: -9px;	
	_margin-top: -13px;
    outline: medium none;
    position: absolute;
    right: 4px;
    top: 50%;
}

	.ui-tooltip .ui-tooltip-tip,
	.ui-tooltip .ui-tooltip-tip *{
		position: absolute;
		
		line-height: 0.1px !important;
		font-size: 0.1px !important;
		color: #123456;

		background: transparent;
		border: 0px dashed transparent;
	}
	.ui-tooltip-icon .ui-icon {
    background: none no-repeat scroll -100em -100em transparent;
    color: inherit;
    font: bold 10px/13px Tahoma,sans-serif;
    height: 14px;
    text-align: center;
    text-indent: 0;
    width: 18px;
}
.ui-tooltip-shadow{
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.ui-tooltip-icon, .ui-tooltip-icon .ui-icon {
    border-radius: 3px 3px 3px 3px;
}

/**使用qtip组件分享内容的样式**/
.qtip .share-content{margin:0px; padding:0 3px;background-color:#ffffff;font-size:14px;overflow: hidden; border:1px solid #ccc;border-top:0;}
.qtip .share-content a{float: left;height: 18px; margin: 4px 0;padding-left: 26px;color: black; padding:2px 15px;}
.qtip .share-icon{background: url(../image/share_ico.gif) no-repeat;} 
.qtip .share-sohu{background-position:0 -5px; }
.qtip .share-wangyi{background-position:0 -29px; } 
.qtip .share-qq{background-position:0 -53px; } 
.qtip .share-sina{background-position:0 -79px; } 
.qtip .share-douban{background-position:0 -105px; }    
.qtip .share-renren{background-position:0 -130px; }    
.qtip .share-kaixin{background-position:0 -156px; }    
.qtip .share-shuoke{background-position:0 -178px; }

/**图片使用ptip组件分享内容的样式**/
/**.share-content{margin:0px; padding:0 3px;background-color:white;font-size:14px;overflow: hidden;}
/**.share-content a{float: left; margin: 5px 0 4px;padding-left: 26px;color: black; height: 35px;  }**/
.ptip .share-content{margin:0px; padding:0 3px;background-color:white;font-size:14px;overflow: hidden;height: 28px;}
.ptip .share-content a{float: left;width:25px; height:28px; *height:21px; text-ailgin:left;margin: 5px 0 4px; }
.ptip .share-icon{background: url(../image/share_ico.gif) no-repeat;} 
.ptip .share-sohu{background-position:0 -5px; }
.ptip .share-wangyi{background-position:0 -29px; } 
.ptip .share-qq{background-position:0 -54px; } 
.ptip .share-sina{background-position:0 -79px; } 
.ptip .share-douban{background-position:0 -105px; }    
.ptip .share-renren{background-position:0 -130px; }    
.ptip .share-kaixin{background-position:0 -156px; }    
.ptip .share-shuoke{background-position:0 -178px; }
