/***ptip样式****/
.ui-appendtip-tip { background:url(../image/fx_bg.gif)  -282px top no-repeat;display: none;overflow: hidden;opacity: 1;z-index: 15013; width: 250px; position:relative; padding-top:7px;*padding-top:0px;_padding-top:7px;}
.ui-appendtip-titlebar{ clear: both; overflow: hidden;*height:7px;_height:auto;}
.ui-appendtip-title {width: 80%;*width: auto; }
.ui-appendtip-close{background: url("../image/share_ico.gif") no-repeat scroll 4px -224px transparent;
cursor: pointer;font-size: 12px;height: 20px;margin: 6px 4px 0 0;*margin: 13px 4px 0 0;_margin: 6px 4px 0 0;position: absolute;right: 0;width: 25px;z-index: 2; 
}

.ui-appendtip-title a:hover{background: url(../image/share_ico.gif)4px -246px no-repeat;  }
.ui-appendtip-content{ border:1px solid #ccc; border-top: none;}
.ui-appendtip-tip {display: none;overflow: hidden;opacity: 1;z-index: 15013; width: 245px;}
.ui-appendtip-pos{ left:250px;top:25px;_left:240px; *top:15px; position:absolute; }
.ui-appendtip-title {float: left;}
.ui-appendtip-titlebar a:hover{background: url(../image/share_ico.gif) 4px -246px no-repeat }


/**图片分享内容的样式**/
/**.share-content{margin:0px; padding:0 3px;background-color:white;font-size:14px;overflow: hidden;}
/**.share-content a{float: left; margin: 5px 0 4px;padding-left: 26px;color: black; height: 35px;  }**/
.ptip .share-content{margin:0px; padding:0 3px;background-color:white;font-size:14px;overflow: hidden;height: 28px;}
.ptip .share-content a{float: left;width:25px; height:28px; *height:21px; text-ailgin:left;margin: 5px 0 4px; }
.ptip .share-icon{background: url(../image/share_ico.gif) no-repeat;} 
.ptip .share-sohu{background-position:0 -5px; }
.ptip .share-wangyi{background-position:0 -29px; } 
.ptip .share-qq{background-position:0 -54px; } 
.ptip .share-sina{background-position:0 -79px; } 
.ptip .share-douban{background-position:0 -105px; }    
.ptip .share-renren{background-position:0 -130px; }    
.ptip .share-kaixin{background-position:0 -156px; }    
.ptip .share-shuoke{background-position:0 -178px; }