/*顶部*/
.top {height:32px; background:url(../image/bg01.gif) repeat-x; line-height:32px; padding-left:13px; min-width:952px;}
.top_box {width:1000px; margin:0px auto;}
.top span,.top b,.top em{display:inline-block; margin-right:10px; vertical-align:middle; font-style:normal;}
.top b {margin-right:4px;}
.top em {width:60px; height:20px; background:#51ce77; border-radius:3px; line-height:20px; text-align:center; color:#FFF;}
.top .account {float:right; padding-right:10px; position:relative;}
.top .account b.head_pic {background:url(../image/bg.gif) no-repeat; width:9px; height:11px;}
.top .account b.head_home {background:url(../image/bg.gif) no-repeat -261px 0px; width:11px; height:12px;}
.top .account a {color:#004276; vertical-align:middle;}
.top .account i.arrow_down {display:inline-block; background:url(../image/bg.gif) no-repeat 0px -11px; width:7px; height:5px; cursor:pointer; overflow:hidden;}
.top .account span {margin:0px; width:20px; text-align:center; color:#999;}
.top .account .color {display:inline-block; width:10px; height:10px; border:1px solid #f8f8f8; background:#c7c7c7;}
.top .account .color2 {background:#359b3f;}
.top .account .color3 {background:#ffe4fe;}
.top .account .color4 {background:#ffda88;}
.top .account .color5 {background:#85dce6;}

/*头部*/
.head{margin:0 auto 10px;overflow:hidden;padding-top:15px;width:1000px; position:relative; clear:both}
.img_result .head,.img_jh_all .head{margin:0 0 20px 10px;overflow:hidden;padding-top:0;width:1000px; position:static}
.head .logo{display:block;width:140px;float:left;background:url(../image/logo.png) no-repeat; height:60px;}
.news_all .head .logo{background:url(../image/logo_news.png) no-repeat;width:186px;height:60px;}
.page_all .head .logo{background:url("../image/logo.png") no-repeat scroll 0 0 transparent;margin-left:10px;width:140px}
.head .search_news{float:left;width:500px}
.head .nav,.head .search_news p{float:left;width:500px;height:30px;font-size:14px}
.head .nav_on a {color: #004276;text-decoration: none;cursor:auto}
.head .nav a{color:#004276;text-decoration:underline}
.head .nav span{padding-right:15px;color:#004276}
.head .nav a.cur,.head .search_news p.cur{cursor:default;text-decoration:none}
.head .search{border:1px solid #c8c8c8;height:32px;position:relative;overflow:hidden;width:475px;float:left}
.head .search p{background:url("../image/mk.gif") no-repeat scroll -4px 3px transparent;cursor:pointer;float:left;height:32px;overflow:auto;width:24px; display:none}
.search_btn,.search_btn2{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;background:url("../image/bg02.gif") repeat-x scroll 0 0 transparent;border-color:-moz-use-text-color -moz-use-text-color -moz-use-text-color #d2d2d2;border-image:none;border-style:none none none solid;border-width:medium medium medium 1px;float:right;font-size:14px;font-weight:bold;height:30px;letter-spacing:2px;width:86px;margin:0;padding:0;cursor: pointer;}
.search_input,.search_input2{border:medium none;float:left;height:30px;line-height:30px;outline:medium none;width:410px}
.search_input2{height:28px;line-height:28px;width:358px;padding:2px}
.search_btn2{background:url("../image/bg04.gif") repeat-x scroll 0 0 transparent;height:32px;width:89px;border:0;border-left:1px solid #c8c8c8;cursor:pointer;font-family:微软雅黑}
.wrap{position:relative}

/*中间搜索*/
.search_box {width:685px; margin:0px auto; padding:63px 0px 56px;}
.search_box .logo {width:140px; float:left; padding-top:15px; _width:130px;}
.search_box.nav_box {width:550px; float:right;}
.search_box .nav {height:24px;}
.search_box .nav a {display:block; float:left; font-size:14px; margin-left:18px; _margin-left:9px;}
.search_box .nav a:link,.search_box .nav a:visited {color:#004276; text-decoration:underline;}
.search_box .nav a:link:hover {text-decoration:none;}
.search_box .nav a.cur {color:#2b2b2b; text-decoration:none;}
.search_box .search {border:1px solid #c0c0c0; border-radius:3px; height:30px; overflow:hidden; background:#FFF;}
.search_box .search p {float:left; width:32px; height:30px; overflow:hidden; background:url("../../../news/static/image/bg.gif") no-repeat -14px 0px; cursor:pointer;}
.search_box .hotword {height:40px; line-height:38px; text-indent:19px; font-size:13px;}
.search_box .hotword a:link,.search_box .hotword a:visited {text-decoration:underline; padding-right:7px; color:#666666;}
.hotword_box {margin-bottom:13px; position:relative; width:560px; height:115px; overflow:hidden;}
.hotword_box #hotword_wrap {height:115px; position:absolute; top:0px; left:0px;}

/*内容*/
.wrap { margin: 0 auto;min-width: 1000px; padding-top: 15px;width: 100%;}

/*返回顶部*/
.goTop {position: fixed; _position: absolute; bottom:20px; right:10px; z-index:900; width:48px; height:204px;}
.goTop a {display:block; width:48px; height:48px; margin-top:3px; text-indent:-9999px;}
.goTop a.search {background:url(../image/icon03.png) no-repeat -144px 0px;}
.goTop a.media {background:url(../image/icon03.png) no-repeat -0px 0px;}
.goTop a.fav {background:url(../image/icon03.png) no-repeat -96px 0px;}
.goTop a.backTop {background:url(../image/icon03.png) no-repeat -48px 0px;}
.goTop a.search:hover {background:url(../image/icon03.png) no-repeat -144px -48px;}
.goTop a.media:hover {background:url(../image/icon03.png) no-repeat -0px -48px;}
.goTop a.fav:hover {background:url(../image/icon03.png) no-repeat -96px -48px;}
.goTop a.backTop:hover {background:url(../image/icon03.png) no-repeat -48px -48px;}

/*下部总导航*/
.all_nav{width:100%;color:#196da8;text-align:center;line-height:50px; clear:both}
.all_nav a{font-size:12px;color:#196da8;margin-left:5px;margin-right:5px}



/*footer*/
.footer {text-align:center; color:#999999; padding:20px 0px 10px; border-top:1px solid #d8d8d8; width:100%; background:#f8f8f8; clear:both}
.footer p { padding:15px 0;}
.footer p a{color:#004276;}
.footer p span {padding:0px 10px;}