.fagui_h3{height:3px;font-size:0;line-height:0;clear:both;}
.fagui_h5{height:5px;font-size:0;line-height:0;clear:both;}
.fagui_h8{height:8px;font-size:0;line-height:0;clear:both;}
.fagui_h10{height:10px;font-size:0;line-height:0;clear:both;}
.fagui_h20{height:20px;font-size:0;line-height:0;clear:both;}
/**法规频道头部导航*/
.fagui_mainNav_wrap{
	padding-top:10px;
	*padding-top:0px;
	width:100%;
	float:left;
}
.fagui_mainNav{
	width:1000px;
	margin:0 auto;
	height:39px;
	line-height:39px;
	background:#37a1dd;
	color:#fff;
	overflow:hidden;
	clear:both;
}
.fagui_mainNav a{
	color:#fff;
	display:inline-block;
	padding:0px 10px;
	font-size:14px;
}
.fagui_mainNav a.fagui_currnav{
	color:#fff;
	background:#1485c5;
	text-decoration:none;
	font-weight:bold;
}
.fagui_mainNav a:hover{
	color:#fff;
	background:#1485c5;
	text-decoration:none;
}
/*导航*/
/*子导航*/
.fagui_menu{width:1000px;height:68px;background:#f6f6f6;border-bottom:1px #e5e5e5 solid;clear:both;margin:0 auto;font-family:Microsoft Yahei;}
.fagui_menu .fagui_m01{width:112px;height:68px;float:left;background:url(../../../fagui/static/image/fagui_menu01.jpg) no-repeat right 0;color:#4789b8;font-size:20px;position:relative;}
.fagui_menu .fagui_m01 span{position:absolute;top:15px;left:38px;}
.fagui_menu .fagui_m_iteam{float:left;display:inline;padding-left:13px;overflow:hidden;}
.fagui_menu .fagui_m_iteam .title_big{float:left;color:#999999;font-size:16px;display:inline;width:30px;height:68px;background:url(../../../fagui/static/image/fagui_menu02.jpg) no-repeat right 0;position:relative;}
.fagui_menu .fagui_m_iteam .title_big span{position:absolute;top:13px;}
.fagui_menu .fagui_m_iteam .title_big a{color:#999999;}
.fagui_menu .fagui_m_iteam .title_small{float:left;display:inline;padding-left:10px;padding-top:14px;}
.fagui_menu .fagui_m_iteam .title_small a{color:#666666;font-size:14px;margin-right:10px;}
.fagui_menu .fagui_m02{width:198px;padding-left:22px;}
.fagui_menu .fagui_m02 .title_small{width:158px;}
.fagui_menu .fagui_m03{width:255px;}
.fagui_menu .fagui_m03 .title_small{width:215px;}
.fagui_menu .fagui_m04{width:188px;}
.fagui_menu .fagui_m04 .title_small{width:148px;}
.fagui_menu .fagui_m05{width:185px;}
.fagui_menu .fagui_m05 .title_small{width:145px;}
/**法规频道底部*/
.all_nav{
	width:100%;
	color:#196da8;
	text-align:center;
	line-height:50px;
	clear:both;
}
.all_nav a{
	font-size:12px;
	color:#196da8;
	margin-left:5px;
	margin-right:5px;
}








