/*头部*/
.img_result .head,.img_jh_all .head{margin:0 0 20px 10px;overflow:hidden;padding-top:0;width:1000px; position:static}
.img_all .head .logo{background:url(../image/logo_pics.png) no-repeat;width:186px;height:60px;}
.img_all .nav2,.img_jh_all .nav2{width:100%;margin:0 auto;margin:0;padding:0}
.img_all .nav2,.img_jh_all .nav2.stuck{top:0;z-index:99999;}
.img_all ul,.img_jh_all ul{padding:0;width:1000px;margin:0 auto}
.img_result .head .logo,.img_jh_all .head .logo{background:url(../image/logo_pics2.png) no-repeat;width:186px;height:52px;}
.nav2 .last{ background:none}
.nav2:hover{ color:#FFF}

/*图片头部导航图片*/
.img_result .head .search,.img_jh_all .head .search{ float:right; margin:0px 10px 0 0; overflow:hidden; z-index:999;   display: block;  }
.img_result .head .logo,.img_jh_all .head .logo{  margin-left:10px}
.img_result .head,.img_jh_all  .head  { margin:10px 0px 0 0; width:100%; z-index:9999 }
.img_jh_all  .head   {min-width:1000px;}
.recommend{position:absolute;right:0; top: 20px;}
.recommend a {display:block; width:74px; height:73px; float:left; text-indent:-9999px; background:url(../image/bg.gif) no-repeat;}
.recommend a.paper {background-position:0px -30px;}
.recommend a.person {background-position:-74px -30px;}
.recommend a.community {background-position:-148px -30px;}
.recommend a.app {background-position:-222px -30px;}
.recommend a.paper.cur {background-position:0px -103px;}
.recommend a.person.cur {background-position:-74px -103px;}
.img_jh_all .recommend,.img_result .recommend{left:180px;position:absolute;top:50px; width:100px;}
.img_jh_all .recommend a.community,.img_result .recommend a.community{background-position:0 -376px}
.img_jh_all .recommend a.app,.img_result .recommend a.app{background-position:-39px -376px}
.img_jh_all .recommend a,.img_result .recommend a{display:block;float:left;height:35px;padding-right:10px;text-indent:-9999px;width:30px}
.img_jh_all .wrap,.img_result .wrap{padding-top:0}




/*右侧小图*/
/*.img_jh_all .recommend{position:absolute;right:0; top: 20px;}*/

/*图片导航*/
.nav2{background:none repeat scroll 0 0 #545454;clear:both;color:#aaa;font-size:14px;height:38px;line-height:38px;margin:0 auto;text-align:center;width:1000px}
.nav2 a{background:url("../image/bg13.gif") no-repeat scroll right center transparent;display:block;float:left;height:38px;padding:0 13px;text-align:center}
.nav2 a{color:#fff;font-size:14px}
.nav2 a.cur{font-weight:bold}
.nav2 span{padding:0 3px}
.nav2 .on{background:none repeat scroll 0 0 #fe8421;color:#fff;display:inline-block;text-align:center; position:relative; left:-1px;}
