@charset "utf-8";
/* CSS Document */
/*国情频道二级导航主内容*/
body{ background:#FFF;}
.fagui_wrap,.fagui_position{width:1000px;margin:0 auto;}
.fagui_position{ line-height:20px;}
.fagui_position,.fagui_position a{ color:#004175; font-family:"微软雅黑";}
.fagui_left{ width:195px; float:left; overflow:hidden;}
.fagui_right{ width:785px; float:right; overflow:hidden;}
.fagui_box{ border:1px solid #F0F0F0;overflow:hidden; width:193px;}
.fagui_pac1{ padding:1px; overflow:hidden;}
.fagui_tit{ background:#F0F0F0; height:30px; line-height:30px; overflow:hidden;font-family:"微软雅黑"; font-size:14px; font-weight:bold; padding-left:10px;color:#4689B8;}
.fagui_tit a{ color:#4689B8;}
.fagui_line{ font-size:1px; line-height:1px; height:1px; overflow:hidden; border-bottom:1px solid #F0F0F0;}
.fagui_list{ padding-left:12px; overflow:hidden;}
.fagui_list ol li{ float:left; font-family:"微软雅黑"; overflow:visible; white-space:nowrap; padding-right:10px; line-height:28px; height:28px;}
.fagui_list ol li a{ color:#999;}
.fagui_title{ background:url(../image/fagui_tit.jpg) repeat-x; line-height:43px; height:43px; padding-left:10px; overflow:hidden;}
.fagui_tit01{ font-size:16px; font-family:"微软雅黑"; font-weight:bold; line-height:43px; color:#196DA7;}
.fagui_inner{ padding:0 10px; overflow:hidden;}
.fagui_Lbox{ width:295px; float:left;}
.fagui_Rbox{ width:455px; float:right;}
.fagui_summary{ line-height:27px; text-indent:2em; color:#656565;font-family:"微软雅黑";}
.fagui_more{float:right;font-family:"微软雅黑";}
.fagui_imgbg{ background:url(../image/fagui_imgbg01.jpg) no-repeat; width:292px; height:205px; padding:2px 0 0 2px;}
.fagui_bold{ font-weight:bold; font-size:16px; font-weight:bold;}
.fagui_more a{ color:#4789B7;}
.fagui_Lbox01{ width:385px;}
.fagui-L{ float:left;}
.fagui-R{ float:right;}
.fagui_title01{ height:35px; position:relative; border-bottom:1px solid #E5E5E5;}
.fagui_dwtit{ position:absolute; left:0; height:36px; background:#FFF;}
.fagui_tit02{ border:1px solid #E5E5E5; float:left; border-bottom:none; border-top:3px solid #3598DB; height:33px; line-height:32px; overflow:hidden; padding:0 10px;font-family:"微软雅黑"; font-weight:bold; font-size:14px; }
.fagui_tit02 a{color:#196DA7;}
.fagui_title01 .fagui_more{ line-height:35px;}
.fagui_image{ float:left; padding-right:10px;}
.fagui_image img{ border:1px solid #CCC; padding:1px;}
.fagui_imgtex{ line-height:20px;font-family:"微软雅黑"; }
.fagui_imgtit{font-family:"微软雅黑"; font-size:14px; font-weight:bold; line-height:25px;}
.fagui_imgtit a{ color:#196DA7;}
.fagui_imgtex a{ color:#A5A5A5;}
.fagui_dotted{ border-bottom:1px dotted #8F8F8F;}
.fagui_list01 li{ line-height:28px;height:28px; overflow:hidden; background:url(../image/fagui_hd.png) no-repeat left 12px; padding-left:12px;font-family:"微软雅黑"; font-size:14px;}
.fagui_list01 li a{ color:#656565;}