@charset "utf-8";
/* CSS Document */
.fagui_clear{clear:both;font-size:0;line-height:0;height:0;}
/*法规频道首页主内容*/
.fagui_wrap{
	width:1000px;
	margin:0 auto;
}
.fagui_sliderNav,.fagui_row1_banner,.fagui_jrzg{
	float:left;
}
.fagui_slide_left{width:151px;float:left;}
.fagui_sliderNav{
	width:149px;
	border:1px solid #cbcbcb;
	background:#f8f8f8;
}
.fagui_sliderNav_tit h3{
	width:149px;
	font-size:14px;
	text-align:center;
	color:#4789b8;
	height:42px;
	line-height:42px;
	background:#FFF;
	border-bottom:8px #ececec solid;
}
/*导航*/
.fagui_nav{
	width:149px;
	height:253px;
	position:relative;
	z-index:19;
}
.fagui_nav .fagui_nav_wrap{
	position:absolute;
	top:0;
	overflow:visible;
	width:149px;
	z-index:1;
}
.fagui_nav .fagui_item{
	width:149px;
	height:36px;
	float:left;
}
.fagui_nav .fagui_inner{
	width:149px;
	height:36px;
	position:relative;
	z-index:1; 
	cursor:pointer;
	background:url(../image/fagui-nav-line.jpg) no-repeat center bottom;
}
.fagui_inner a{
	/*background:url(../image/fagui-arrow-01.jpg) no-repeat left center;*/
	padding-left:12px;
	display:inline-block;
	line-height:36px;
	float:left;
}
.fagui_nav .none{background:none;}

.fagui_inner span{
	color:#d9d9d9;
	display:inline-block;
	line-height:36px;
	float:left;
}
.fagui_inner a{
	height:36px;
	line-height:36px;
	color:#4a4a4a;
	margin-right:10px;
	margin-left:23px;
	font-size:14px;
}
.fagui_inner a:hover{
	color:#4fa7bd; 
	text-decoration:none;
}
.fagui_nav .fagui_item .fagui_outer{
	display:none;
	position:absolute;
	left:149px;
	top:-51px;
	width:798px;
	border:1px solid #cbcbcb;
	background:#fff;
	overflow:hidden;
	padding:0 25px;
}
.fagui_navhover{
	background:#fff;
}
.fagui_navhover .fagui_nav_wrap{
	display:block;
}
.fagui_nav .fagui_navhover .fagui_inner{
	z-index:21;
	width:149px;
	background:#fff;
	border:1px solid #cbcbcb;
	border-right:0px;
	margin-top:-1px;
}
.fagui_nav .fagui_navhover .fagui_inner{
	background-image:url(../image/fagui-arrow-01.jpg);background-repeat: no-repeat;background-position: 120px center;
}
.fagui_nav .fagui_navhover .fagui_inner span{
	color:#39b3c0;
}
.fagui_nav .fagui_navhover .fagui_outer{
	display:block;
	z-index:20; 
	min-height:440px;
	_height:440px;
}
.fagui_outer_sub{
	width:798px;
	float:left;
	border-bottom:1px solid #eee;
	padding:10px 0;
	color:#adadad;
	line-height:28px;
	position:relative;
}
.fagui_outer_sub b{
	font-size:12px;
}
.fagui_outer_sub b a{
	color:#222;
}
.fagui_outer_sub a{
	margin:0px 5px 0px 5px;
	white-space:nowrap;
	color:#adadad;
}
.fagui_outer_split01{width:385px;float:left;}
.fagui_outer_split02{width:385px;float:right;}
.fagui_outer_sub span.more {position:absolute;right:0;line-height:28px;padding:0;top:10px;}
.fagui_outer_sub span.more a{color:#4789b8;}
.fagui_slidebar_other{clear:both;width:145px;margin:0 auto;}
.fagui_slidebar_other .tit{color:#4789b8;font-size:14px;height:30px;line-height:30px;}
.fagui_slidebar_other .tit a{color:#4789b8;}
.fagui_slidebar_other .inner{color:#666666;line-height:24px;}
.fagui_slidebar_other .inner a{color:#666666;}
.fagui_slidebar_other .inner span{margin:0 5px;}
/****/
.fagui_sliderNav_right{
	float:right;
	width:839px;
}
.fagui_sliderNav_rt{
	height:32px;
	background:#e7ecf2;
}
.fagui_sliderNav_rt b{
	color:#245996;
	line-height:32px;
	background:url(../image/fagui_icon1.jpg) no-repeat left center;
	margin-left:10px;
	padding-left:25px;
	display:block;
	float:left;
}
.fagui_row1_banner{
	width:450px;
	overflow:hidden
}
.fagui_banner{
	width:450px;
	height:305px;
	position:relative;
	z-index:18;
}
.fagui_banner_bigimg{
	width:450px;
	height:305px;
	display:none;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.fagui_banner_bigimg img{
	width:450px;
	height:305px;
}
.fagui_banner_next,.fagui_banner_prev {
	position:absolute;
	top:112px;
	left:0px;
	width:48px;
	height:82px;
	display:block;
	z-index:998;
	overflow:hidden;
	cursor:pointer;
}
.fagui_banner_js {
	width:450px;
	height:305px;
	overflow:hidden;
}
.fagui_banner_next {
	left:402px;
}
.fagui_bannerNav {
	height:40px;
	z-index:9;
	position:absolute;
	right:0;
	bottom:0;
	width:130px;
}
.fagui_trigger{
	margin:15px 5px;
	display:inline;
	float:left;
	width:8px;
	height:8px;
	background:url(../image/fagui_hsyuan.png) no-repeat left center;
	text-indent:-9999px;
}

.fagui_imgSelected{
	background:url(../image/fagui_lsyuan.png) no-repeat left center;
}

.fagui_banner_bigimg p{
	position:absolute;
	bottom:0px;
	left:0;
	height:40px;
	line-height:40px;
	width:440px;
	background:url(../image/fagui_tmbg.png) repeat;
	font-size:13px;
	color:#fff;
	z-index:9;
	padding-left:10px;
	font-size:14px;
	overflow:hidden;
}
/*分类图标*/
.fagui_category{
	height:175px;
	width:476px;
	margin-top:10px;
}
.fagui_category ul li{float:left;display:inline;width:74px;height:70px;background:url(../image/fagui-ico-line.jpg) no-repeat right 0;}
.fagui_category ul li .ico{width:74px;height:45px;text-align:center;overflow:hidden;}
.fagui_category ul li .tit{width:74px;height:25px;line-height:25px;text-align:center;font-size:14px;color:#5a5556;}
.fagui_category ul li .tit a{color:#5a5556;}
.fagui_category ul li.none{background:none;}
/****/
/**法规聚焦**/
.fagui_jrzg{
	width:368px;
	float:right;
}
.fagui_jrzg_title{
	font-size:18px;
	color:#196da8;
	border-bottom:1px solid #dfe9ee;
	line-height:30px;
	font-weight:bold;
}
.fagui_jrzg_con dl dt{
	font-size:16px;
	line-height:28px;
	height:28px;
	font-weight:500;
	width:368px;
	padding-top:8px;
	overflow:hidden;
	float:left;
}
.fagui_jrzg_con dl dt a{
	color:#196da8;
	font-weight:bold;
}
.fagui_jrzg_con dl dd{
	color:#555;
}
.fagui_jrzg_con dl dd ul li{
	width:368px;
	clear:both;
}
.fagui_jrzg_con dl dd ul li b{
	font-size:14px;
	line-height:29px;
	*line-height:25px;
	_line-height:25px;
	height:29px;
	*height:25px;
	_height:25px;
	overflow:hidden;
	display:block;
	float:left;
	width:15px;
}
.fagui_jrzg_con dl dd ul li a{
	font-size:14px;
	width:330px;
	line-height:29px;
	*line-height:25px;
	_line-height:25px;
	height:29px;
	*height:25px;
	_height:25px;
	overflow:hidden;
	display:block;
	float:left;
	color:#666666;
}
.fagui_jrzg_con dl dd ul li a:hover{
	color:#196da8;
	text-decoration:none;
}
/**法规专题**/
.fagui_fazt_con h3{color:#196da8;font-size:14px;font-weight:normal;text-align:center;line-height:40px;height:40px;overflow:hidden;}
.fagui_fazt_con h3 a{color:#196da8;}
.fagui_fazt_con p{color:#666;line-height:24px;height:48px;overflow:hidden;}
.fagui_readmore{float:right;padding-right:10px;color:#4789b8;}
.fagui_readmore a{color:#4789b8;}

/***法律咨询****新法速递****高层留言板***/
.fagui_row2{border-top:3px #d6e6e8 solid;}
.fagui_title_c1{height:41px;border-bottom:1px #aecdd2 solid;position:relative;}
.fagui_title_c1 .title_channel{color:#196da8;font-size:16px;font-weight:bold;position:absolute;left:3px;line-height:40px;}
.fagui_title_c1 .title_channel a{color:#196da8;}
.fagui_title_c1 span{float:right;line-height:40px;padding-right:3px;}
.fagui_title_c1 span a{color:#4789b8;}
.fagui_zixun{width:205px;float:left;}
.fagui_xinfasudi{width:435px;float:left;padding-left:30px;}
.fagui_liuyan{width:300px;float:right;}

.fagui_zixun ul li{border-bottom:1px #7f7f7f dotted;padding:10px 0 5px 0;}
.fagui_zixun .q_left{float:left;color:#196da8;font-weight:bold;width:30px;line-height:24px;}
.fagui_zixun .q_right{float:right;color:#666666;width:170px;line-height:24px;}
.fagui_zixun .a_btn{color:#4789b8;clear:both;text-align:right;line-height:22px;}
.fagui_zixun .a_btn a{color:#4789b8;}
.fagui_txt_box01 .tit{color:#4789b8;height:52px;line-height:52px;overflow:hidden;font-size:14px;text-align:center;}
.fagui_txt_box01 .tit a{color:#4789b8;}
.fagui_txt_box01 .summary{color:#999999;line-height:28px;height:56px;overflow:hidden;}
.fagui_txt_box01 .summary a.readmore{color:#4789b8;}
.fagui_lines1{height:1px;font-size:0;line-height:0;border-bottom:1px #000 dotted;margin:8px 0;clear:both;}
.fagui_list01 ul li{
	width:100%;
	clear:both;
}
.fagui_list01 ul li b{
	font-size:14px;
	line-height:28px;
	*line-height:24px;
	_line-height:24px;
	height:28px;
	*height:24px;
	_height:24px;
	overflow:hidden;
	display:block;
	float:left;
	width:15px;
}
.fagui_list01 ul li a{
	font-size:14px;
	line-height:28px;
	*line-height:24px;
	_line-height:24px;
	height:24px;
	*height:24px;
	_height:24px;
	overflow:hidden;
	display:block;
	float:left;
	color:#666666;
}
.fagui_list01 ul li a:hover{
	color:#666666;
	text-decoration:underline;
}
/**高层留言板**/
.fagui_liuyan_col_tit{
	background:url(../image/fagui_lstitbg1.jpg) repeat-x left bottom;
	height:35px;
}
.fagui_liuyan_col_tit span{
	width:73px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	color:#666;
	font-size:14px;
	display:block;
}
.fagui_liuyan_col_tit span.fagui_liuyan_col_curtit{
	background:url(../image/fagui_lstitbg2.jpg) no-repeat left top;
	color:#196da8;
	font-weight:bold;
}
.fagui_liuyan_col_con{
	height:140px;
	width:323px;
	padding-top:10px;
}
.fagui_liuyan_col_con_single{
	display:none;
}
.fagui_liuyan .inner{width:264px;margin:0 auto;}
.fagui_txt_box02 .img-pic{float:left;display:inline;padding:5px 20px 0 0;}
.fagui_txt_box02 .summary{color:#999999;line-height:24px;height:96px;overflow:hidden;}
.fagui_txt_box02 .summary a.readmore{color:#4789b8;}
.fagui_list02 ul li{height:24px;line-height:24px;overflow:hidden;color:#666666;}
.fagui_list02 ul li a{color:#666666;}

/****宪法****/
.fagui_row3{border-top:3px #d6e6e8 solid;}
.fagui_title_c2{height:41px;border-bottom:1px #aecdd2 solid;position:relative;background:#f2f7f8;}
.fagui_title_c2 .title_channel{color:#196da8;font-size:16px;font-weight:bold;position:absolute;left:8px;line-height:40px;}
.fagui_title_c2 .title_channel a{color:#196da8;}
.fagui_title_c2 span.more{float:right;line-height:40px;padding-right:3px;}
.fagui_title_c2 span.more a{color:#4789b8;}
.fagui_row3 .fagui_xianfa_left{width:193px;border-right:1px #ebebeb solid;float:left;}
.fagui_row3 .fagui_xianfa_left .inner{width:115px;margin:0 auto;}
.fagui_row3 .fagui_xianfa_left .img-pic img{border:1px #ece8d6 solid;width:113px;}
.fagui_row3 .fagui_xianfa_left .summary{color:#666666;line-height:24px;}

.fagui_row3 .fagui_xianfa_mid{width:470px;float:left;padding-left:24px;}
.fagui_row3 .fagui_xianfa_mid .inner{padding:0 8px;}
.fagui_txt_box03 .tit{color:#ff4f01;font-size:18px;height:52px;line-height:52px;overflow:hidden;text-align:center;}
.fagui_txt_box03 .tit a{color:#ff4f01;}
.fagui_txt_box03 .summary{color:#999999;line-height:28px;font-size:14px;}
.fagui_txt_box03 .summary p{text-indent:2em;height:112px;overflow:hidden;}
.fagui_txt_box03 .summary a.readmore{color:#4789b8;float:right;padding-right:3px;}
.fagui_row3 .fagui_xianfa_mid ul li{float:left;display:inline;}
.fagui_row3 .fagui_xianfa_mid ul li.x1{width:120px;padding-left:18px;}
.fagui_row3 .fagui_xianfa_mid ul li.x2{width:120px;}
.fagui_row3 .fagui_xianfa_mid ul li.x3{width:81px;}
.fagui_row3 .fagui_xianfa_mid ul li.x4{width:128px;}
.fagui_row3 .fagui_xianfa_mid ul li .ico{text-align:center;}
.fagui_row3 .fagui_xianfa_mid ul li .tit{text-align:center;height:38px;line-height:38px;color:#2b2b2b;}
.fagui_row3 .fagui_xianfa_mid ul li .tit a{color:#2b2b2b;}
.fagui_title_c3{height:41px;position:relative;}
.fagui_title_c3 .title_channel{color:#4789b8;font-size:14px;position:absolute;left:0px;line-height:40px;}
.fagui_title_c3 .title_channel a{color:#4789b8;}

.fagui_row3 .fagui_xianfa_right{width:272px;float:right;}

/**宪法滚动**/
.fagui_ibox{
	width:272px;
	height:176px;
	position:relative;
	overflow:hidden;
}
.fagui_ibox .fagui_showbox{
	position:absolute;
	left:0;
	width:1360px;
	height:176px;
	background:#fff; 
	z-index:1;
}
.fagui_ibox .fagui_showbox ul li{
	float:left;
	display:inline; 
	position:relative;
}
.fagui_ibox .fagui_showbox ul li a{
	display:block;
	width:272px;
	height:176px;
	overflow:hidden;
}
.fagui_ibox .fagui_showbox ul li p{
	width:272px;
	height:30px;
	line-height:30px;
	position:absolute; 
	z-index:2; 
	left:0; 
	bottom:0; 
	background:url(../image/fagui_tmbg.png) repeat center center; 
	color:#fff;
	font-size:14px;
	text-align:center;
}
.fagui_ibox .fagui_showbox ul li a img{ 
	display:block; 
	overflow:hidden;
	width:272px;
	height:176px;
}
.fagui_ibox .fagui_btnbox{
	width:272px;
	height:23px; 
	position:absolute; 
	z-index:2;
	top:50%;
	margin-top:-25px;
}
.fagui_ibox .fagui_btnbox span{ 
	cursor:pointer;
	width:13px; 
	height:23px; 
	display:inline-block;
}
.fagui_ibox .fagui_btnbox span.fagui_picpre{  
	float:left;
	background:url(../image/fagui_banner_prev2.png) no-repeat center center; 
}
.fagui_ibox .fagui_btnbox span.fagui_picnext{ 
	float:right;
	background:url(../image/fagui_banner_next2.png) no-repeat center center; 
}
.fagui_xianfa_lishi{background:url(../image/fagui_x6.jpg) no-repeat;width:272px;overflow:hidden;}
.fagui_xianfa_lishi .inner{padding-top:30px;}
.fagui_xianfa_lishi ul{width:312px;}
.fagui_xianfa_lishi ul li{float:left;width:56px;}
.fagui_xianfa_lishi ul li span{color:#666666;display:block;width:12px;}
.fagui_xianfa_lishi ul li span a{color:#666666;}

/****民商法****/
.fagui_row4{border-top:3px #d6e6e8 solid;}
.fagui_mingshang_left{width:190px;float:left;}
.fagui_mingshang_left .ico-list{width:190px;overflow:hidden;}
.fagui_mingshang_left .ico-list ul{width:195px;}
.fagui_mingshang_left .ico-list ul li{float:left;display:inline;width:65px;height:82px;}
.fagui_mingshang_left .ico-list ul li .ico{width:50px;height:50px;text-align:center;overflow:hidden;}
.fagui_mingshang_left .ico-list ul li .tit{width:50px;height:25px;line-height:25px;text-align:center;color:#5a5556;}
.fagui_mingshang_left .ico-list ul li .tit a{color:#5a5556;}
.fagui_mingshang_listnum{background:url(../image/fagui_num_bg.jpg) no-repeat 0 10px;width:186px;margin:0 auto;}
.fagui_mingshang_listnum ul{padding-left:22px;}
.fagui_mingshang_listnum ul li{height:30px;line-height:30px;overflow:hidden;color:#5a5556;padding:0;font-size:14px;}
.fagui_mingshang_listnum ul li a{color:#5a5556;}

.fagui_mingshang_mid{width:497px;float:left;padding-left:10px;}
/**婚姻法**/
.fagui_hunyin_col_tit{
	background:url(../image/fagui_lstitbg1.jpg) repeat-x left bottom;
	height:35px;
}
.fagui_hunyin_col_tit span{
	width:73px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	color:#666;
	font-size:14px;
	display:block;
}
.fagui_hunyin_col_tit span.fagui_hunyin_col_curtit{
	background:url(../image/fagui_lstitbg2.jpg) no-repeat left top;
	color:#196da8;
	font-weight:bold;
}
.fagui_hunyin_col_con{

	padding-top:10px;
}
.fagui_hunyin_col_con_single{
	display:none;
}
.fagui_txt_box04 .img-pic{float:left;width:100px;display:inline;padding:4px 0 0 12px;}
.fagui_txt_box04 .txt-list{float:right;width:365px;display:inline;}
.fagui_txt_box04 .txt-list dl dd{
	color:#555;
}
.fagui_txt_box04 .txt-list dl dd ul li{
	width:345px;
	clear:both;
}
.fagui_txt_box04 .txt-list dl dd ul li b{
	font-size:14px;
	line-height:28px;
	*line-height:24px;
	_line-height:24px;
	height:28px;
	*height:24px;
	_height:24px;
	overflow:hidden;
	display:block;
	float:left;
	width:15px;
}
.fagui_txt_box04 .txt-list dl dd ul li a{
	font-size:14px;
	width:330px;
	line-height:28px;
	*line-height:24px;
	_line-height:24px;
	height:28px;
	*height:24px;
	_height:24px;
	overflow:hidden;
	display:block;
	float:left;
	color:#666666;
}
.fagui_txt_box04 .txt-list dl dd ul li a:hover{
	color:#196da8;
	text-decoration:none;
}
/**医疗事故**/
.fagui_yiliao_col_tit{
	background:url(../image/fagui_lstitbg1.jpg) repeat-x left bottom;
	height:35px;
}
.fagui_yiliao_col_tit span{
	width:73px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	color:#666;
	font-size:14px;
	display:block;
}
.fagui_yiliao_col_tit span.fagui_yiliao_col_curtit{
	background:url(../image/fagui_lstitbg2.jpg) no-repeat left top;
	color:#196da8;
	font-weight:bold;
}
.fagui_yiliao_col_con{

	padding-top:10px;
}
.fagui_yiliao_col_con_single{
	display:none;
}

.fagui_mingshang_right{width:270px;float:right;}
/**民商案例**/
.fagui_list03 ul{height:356px;overflow:hidden;}
.fagui_list03 ul li{padding:0 8px;border-bottom:1px #838383 dotted;}
.fagui_list03 ul li .tit{color:#196da8;height:34px;line-height:34px;overflow:hidden;}
.fagui_list03 ul li .tit a{color:#196da8;}
.fagui_list03 ul li .summary{color:#999999;line-height:28px;}

/****行政法****/
.fagui_row4{border-top:3px #d6e6e8 solid;}
.fagui_xingzheng_left{width:190px;height:374px;float:left;border:1px #f0f0f0 solid;}
.fagui_xz_menu{height:370px;overflow:hidden;}
.fagui_xz_menu dl {border-bottom:1px #b2b2b2 dotted;padding:0 8px 0 12px;}
.fagui_xz_menu dl dt{line-height:28px;color:#4789b8;padding-top:8px;}
.fagui_xz_menu dl dt a{color:#4789b8;}
.fagui_xz_menu dl dd{line-height:28px;color:#999999;}
.fagui_xz_menu dl dd span{white-space:nowrap;margin-right:8px;}
.fagui_xz_menu dl dd a{color:#999999;}

.fagui_xingzheng_mid{width:495px;float:left;padding-left:12px;}
.fagui_xingzheng_mid .inner{padding:0 8px;}
.fagui_txt_box05 .tit{height:44px;line-height:44px;overflow:hidden;color:#4789b8;font-size:14px;text-align:center;} 
.fagui_txt_box05 .tit a{color:#4789b8;}
.fagui_txt_box05 .summary p{line-height:24px;height:48px;overflow:hidden;color:#999999;}
.fagui_txt_box05 span.readmore{float:right;padding-right:3px;}
.fagui_txt_box05 span.readmore a{color:#4789b8;}

.fagui_xz_book ul li{width:120px;float:left;display:inline;}
.fagui_xz_book ul li .img-pic{text-align:center;}
.fagui_xz_book ul li .img-pic img{width:60px;height:77px;}
.fagui_xz_book ul li .tit{color:#999999;text-align:center;padding-top:5px;}
.fagui_xz_book ul li .tit a{color:#999999;}

.fagui_xingzheng_right{width:264px;float:right;}
.fagui_xingzheng_right .inner{width:242px;margin:0;}
.fagui_xingzheng_right .inner h3{color:#196da8;font-size:14px;font-weight:bold;text-align:center;height:45px;line-height:45px;overflow:hidden;}
.fagui_xingzheng_right .inner .tit{color:#196da8;font-size:14px;font-weight:bold;text-align:center;height:45px;line-height:45px;overflow:hidden;}
.fagui_xingzheng_right .inner .tit a{color:#196da8;}
.fagui_xingzheng_right .inner .summary{line-height:28px;color:#999999;}
.fagui_xingzheng_right .inner span.readmore a{color:#4789b8;}

/****经济法****/
.fagui_row5{border-top:3px #d6e6e8 solid;}
.fagui_jingji_left{width:190px;height:374px;float:left;border:1px #f0f0f0 solid;}
.fagui_jj_menu{height:370px;overflow:hidden;}
.fagui_jj_menu dl {border-bottom:1px #b2b2b2 dotted;padding:0 8px 0 12px;}
.fagui_jj_menu dl dt{line-height:28px;color:#4789b8;padding-top:8px;}
.fagui_jj_menu dl dt a{color:#4789b8;}
.fagui_jj_menu dl dd{line-height:28px;color:#999999;}
.fagui_jj_menu dl dd span{white-space:nowrap;margin-right:28px;}
.fagui_jj_menu dl dd a{color:#999999;}

.fagui_jingji_mid{width:495px;float:left;padding-left:12px;}
.fagui_jingji_mid .inner{padding:0 8px;}
.fagui_txt_box06 .img-pic{width:260px;float:left;display:inline;}
.fagui_txt_box06 .txt-box{width:210px;float:right;display:inline;}
.fagui_txt_box06 .txt-box .tit{color:#4789b8;font-size:14px;height:22px;line-height:22px;overflow:hidden;}
.fagui_txt_box06 .txt-box .tit a{color:#4789b8;}
.fagui_txt_box06 .txt-box .summary{color:#999999;line-height:24px;}
.fagui_txt_box06 .txt-box .summary p{text-indent:2em;}
.fagui_jingji_mid span.readmore{float:right;}
.fagui_jingji_mid span.readmore a{color:#4789b8;}

.fagui_jingji_right{width:272px;float:right;}
.fagui_jingji_right .inner{width:255px;}
.fagui_jingji_right .inner .fagui_list03 ul{height:328px;overflow:hidden;}
.fagui_jingji_right .inner .fagui_list03 ul li .tit{height:30px;line-height:30px;}

/****社会法****/
.fagui_row6{border-top:3px #d6e6e8 solid;}
.fagui_shehui_left{width:190px;height:210px;float:left;border:1px #f0f0f0 solid;}
.fagui_shehui_menu{height:200px;overflow:hidden;}
.fagui_shehui_menu dl {border-bottom:1px #b2b2b2 dotted;padding:0 8px 0 12px;}
.fagui_shehui_menu dl dt{line-height:28px;color:#4789b8;padding-top:8px;}
.fagui_shehui_menu dl dt a{color:#4789b8;}
.fagui_shehui_menu dl dd{line-height:28px;color:#999999;}
.fagui_shehui_menu dl dd span{white-space:nowrap;margin-right:33px;}
.fagui_shehui_menu dl dd a{color:#999999;}

.fagui_shehui_mid{width:495px;float:left;padding-left:12px;}
.fagui_shehui_col_tit{
	background:url(../image/fagui_lstitbg1.jpg) repeat-x left bottom;
	height:35px;
}
.fagui_shehui_col_tit span{
	width:73px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	color:#666;
	font-size:14px;
	display:block;
}
.fagui_shehui_col_tit span.fagui_shehui_col_curtit{
	background:url(../image/fagui_lstitbg2.jpg) no-repeat left top;
	color:#196da8;
	font-weight:bold;
}
.fagui_shehui_col_con{

	padding-top:10px;
}
.fagui_shehui_col_con_single{
	display:none;
}
.fagui_shehui_right{width:272px;float:right;}
.fagui_title_c4{height:36px;position:relative;}
.fagui_title_c4 .title_channel{color:#4789b8;font-size:14px;position:absolute;left:0px;line-height:36px;font-weight:bold;}
.fagui_title_c4 .title_channel a{color:#4789b8;}
.fagui_shehui_ci{width:263px;height:148px;overflow:hidden;}
.fagui_shehui_ci .ci_iteam{display:inline;height:48px;line-height:48px;overflow:hidden;color:#ffffff;text-align:center;margin-bottom:2px;}
.fagui_shehui_ci .ci_iteam a{color:#ffffff;}
.fagui_shehui_ci .ci_k1{width:160px;float:left;background:#58aede;}
.fagui_shehui_ci .ci_k2{width:101px;float:right;background:#68aab1;}
.fagui_shehui_ci .ci_k3{width:79px;float:left;background:#58aede;}
.fagui_shehui_ci .ci_k4{width:182px;float:right;background:#68aab1;}
.fagui_shehui_ci .ci_k5{width:131px;float:left;background:#58aede;}
.fagui_shehui_ci .ci_k6{width:130px;float:right;background:#68aab1;}

/****刑法****/
.fagui_row7{border-top:3px #d6e6e8 solid;}
.fagui_xingfa_left{width:190px;height:300px;float:left;border:1px #f0f0f0 solid;}
.fagui_xingfa_menu{height:278px;overflow:hidden;}
.fagui_xingfa_menu dl {border-bottom:1px #b2b2b2 dotted;padding:0 8px 0 12px;}
.fagui_xingfa_menu dl dt{line-height:28px;color:#4789b8;padding-top:8px;}
.fagui_xingfa_menu dl dt a{color:#4789b8;}
.fagui_xingfa_menu dl dd{line-height:28px;color:#999999;}
.fagui_xingfa_menu dl dd span{white-space:nowrap;margin-right:33px;}
.fagui_xingfa_menu dl dd a{color:#999999;}

.fagui_xingfa_mid{width:495px;float:left;padding-left:12px;}
.fagui_xingfa_col_tit{
	background:url(../image/fagui_lstitbg1.jpg) repeat-x left bottom;
	height:35px;
}
.fagui_xingfa_col_tit span{
	width:73px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	color:#666;
	font-size:14px;
	display:block;
}
.fagui_xingfa_col_tit span.fagui_xingfa_col_curtit{
	background:url(../image/fagui_lstitbg2.jpg) no-repeat left top;
	color:#196da8;
	font-weight:bold;
}
.fagui_xingfa_col_con{

	padding-top:10px;
}
.fagui_xingfa_col_con_single{
	display:none;
}

.fagui_txt_box07 .img-pic{float:left;width:153px;display:inline;padding:4px 0 0 12px;}
.fagui_txt_box07 .txt-box{float:right;width:305px;display:inline;}
.fagui_txt_box07 .txt-box .tit{color:#4789b8;font-size:14px;height:24px;line-height:24px;overflow:hidden;}
.fagui_txt_box07 .txt-box .tit a{color:#4789b8;}
.fagui_txt_box07 .txt-box .summary{color:#999999;line-height:22px;}
.fagui_xingfa_mid span.readmore{float:right;}
.fagui_xingfa_mid span.readmore a{color:#4789b8;}

.fagui_xingfa_mid .fagui_list01{width:242px;float:left;padding-left:5px;overflow:hidden;}

.fagui_xingfa_right{width:272px;float:right;}
.fagui_xingfa_right h3{color:#196da8;font-size:14px;font-weight:bold;text-align:center;height:45px;line-height:45px;overflow:hidden;}
.fagui_xingfa_right .inner{width:234px;float:right;}
.fagui_xingfa_right .inner .img-pic{text-align:center;}
.fagui_xingfa_right .summary{width:200px;line-height:35px;margin:0 auto;}
.fagui_xingfa_right .summary span{margin-right:10px;white-space:nowrap;}
.fagui_xingfa_right .summary a{color:#4789b8;}
/****程序法***/
.fagui_row8{border-top:3px #d6e6e8 solid;}
.fagui_chengxu_left{width:190px;height:374px;float:left;border:1px #f0f0f0 solid;}
.fagui_cx_menu{height:370px;overflow:hidden;}
.fagui_cx_menu dl {border-bottom:1px #b2b2b2 dotted;padding:0 8px 0 12px;}
.fagui_cx_menu dl dt{line-height:28px;color:#4789b8;padding-top:8px;}
.fagui_cx_menu dl dt a{color:#4789b8;}
.fagui_cx_menu dl dd{line-height:28px;color:#999999;}
.fagui_cx_menu dl dd span{white-space:nowrap;margin-right:33px;}
.fagui_cx_menu dl dd a{color:#999999;}

.fagui_chengxu_mid{width:495px;float:left;padding-left:12px;}
.fagui_chengxu_mid .inner{padding:0 8px;}

.fagui_chengxu_col_tit{
	background:url(../image/fagui_lstitbg1.jpg) repeat-x left bottom;
	height:35px;
}
.fagui_chengxu_col_tit span{
	width:73px;
	float:left;
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
	color:#666;
	font-size:14px;
	display:block;
}
.fagui_chengxu_col_tit span.fagui_chengxu_col_curtit{
	background:url(../image/fagui_lstitbg2.jpg) no-repeat left top;
	color:#196da8;
	font-weight:bold;
}
.fagui_chengxu_col_con{

	padding-top:10px;
}
.fagui_chengxu_col_con_single{
	display:none;
}


.fagui_chengxu_right{width:264px;float:right;}
.fagui_chengxu_right .inner{width:242px;margin:0;}
.fagui_chengxu_right .inner h3{color:#196da8;font-size:14px;font-weight:bold;text-align:center;height:45px;line-height:45px;overflow:hidden;}
.fagui_chengxu_right .inner .tit{color:#196da8;font-size:14px;font-weight:bold;text-align:center;height:45px;line-height:45px;overflow:hidden;}
.fagui_chengxu_right .inner .tit a{color:#196da8;}
.fagui_chengxu_right .inner .summary{line-height:28px;color:#999999;}
.fagui_chengxu_right .inner span.readmore a{color:#4789b8;}

/****律师律所***/
.fagui_row8{border-top:3px #d6e6e8 solid;}
.fagui_lvshi_left{width:226px;float:left;border-right:1px #d1d1d1 solid;}
.fagui_lvshi_left .fagui_ls_menu ul{width:164px;margin:0 auto;}
.fagui_lvshi_left .fagui_ls_menu ul li{background:url(../image/fagui_ls_menu.jpg) no-repeat;text-align:center;width:164px;height:35px;line-height:35px;overflow:hidden;color:#ffffff;font-size:14px;margin:6px 0 17px 0;float:left;}
.fagui_lvshi_left .fagui_ls_menu ul li a{color:#ffffff;}

.fagui_lvshi_mid{padding-left:25px;float:left;width:450px;}
.fagui_lvshi_mid .inner{width:400px;margin:0 auto;}

.fagui_lvshi_right{float:right;width:272px;}
.fagui_title_c5{height:36px;position:relative;border-bottom:1px #aecdd2 solid;}
.fagui_title_c5 .title_channel{color:#4789b8;font-size:14px;position:absolute;left:0px;line-height:36px;background:url(../image/fagui_area_ico.jpg) no-repeat 0 15px;padding-left:10px;}
.fagui_title_c5 .title_channel a{color:#4789b8;}
.fagui_lvshi_right .inner{line-height:28px;}
.fagui_lvshi_right .inner span{color:#666666;white-space:nowrap;margin-right:13px;}
.fagui_lvshi_right .inner span a{color:#666666;}

/****法规教育***/
.fagui_row9 .fagui_jiaoyu_left{width:172px;border-right:1px #b2b2b2 dotted;float:left;}
.fagui_row9 .fagui_jiaoyu_left .inner{width:128px;margin:0 auto;text-align:center;}
.fagui_row9 .fagui_jiaoyu_left .tit{height:28px;line-height:28px;overflow:hidden;color:#4789b8;font-size:14px;font-weight:bold;}
.fagui_row9 .fagui_jiaoyu_left .tit a{color:#4789b8;}

.fagui_row9 .fagui_jiaoyu_mid{width:440px;float:left;padding-left:20px;}
.fagui_title_c6{height:36px;position:relative;}
.fagui_title_c6 .title_channel{color:#4789b8;font-size:14px;position:absolute;left:0px;line-height:36px;font-weight:bold;}
.fagui_title_c6 .title_channel a{color:#4789b8;}
.fagui_jy_booklist{width:405px;overflow:hidden;background:url(../image/fagui_book_bg.jpg) no-repeat 0 bottom;padding:0 0 20px 35px;}
.fagui_jy_booklist ul{width:388px;}
.fagui_jy_booklist ul li{float:left;display:inline;width:97px;}
.fagui_jy_booklist ul li .img-pic{width:80px;}
.fagui_btn_huan{float:right;color:#4789b8;line-height:36px;padding:0px 3px 0 0;cursor:pointer;}

.fagui_jiaoyu_right{width:350px;float:right;border-left:1px #b2b2b2 dotted;}
.fagui_jiaoyu_right .inner{padding-left:20px;}

.fagui_txt_box08 .img-pic{float:left;width:100px;display:inline;padding:4px 0 0 0px;}
.fagui_txt_box08 .txt-box{float:right;width:214px;display:inline;}
.fagui_txt_box08 .txt-box .tit{color:#4789b8;font-size:14px;height:24px;line-height:24px;overflow:hidden;}
.fagui_txt_box08 .txt-box .tit a{color:#4789b8;}
.fagui_txt_box08 .txt-box .summary{color:#999999;line-height:22px;}
.fagui_txt_box08 span.readmore{color:#999999;padding-right:3px;float:right;}
.fagui_txt_box08 span.readmore a{color:#999999;}

.fagui_jy_booklist2{width:425px;overflow:hidden;background:url(../image/fagui_book_bg.jpg) no-repeat 0 bottom;padding:0 0 20px 15px;}
.fagui_zgls_ibox{
	width:388px;
	height:114px;
	position:relative;
	overflow:hidden;
	margin:0 auto;
}
.fagui_zgls_ibox .fagui_zgls_showbox{
	position:absolute;
	left:0;
	width:776px;
	height:114px;
	z-index:1;
}
.fagui_zgls_ibox .fagui_zgls_showbox ul li{
	float:left;
	display:inline; 
	position:relative;
	width:388px;
}
.fagui_zgls_ibox .fagui_zgls_showbox ul li .abox{float:left;display:inline;width:97px;}
.fagui_zgls_ibox .fagui_zgls_showbox ul li .abox .img-pic{width:80px;}


/****法规服务---法规导航***/
.fagui_row10 .fagui_fw_left{width:268px;float:left;}
.fagui_row10 .fagui_fw_left .inner{width:242px;margin:0 auto;text-align:center;}
.fagui_row10 .fagui_fw_right{width:676px;float:right;}
.fagui_row10 .fagui_fw_right .fagui_dh_list{width:676px;height:318px;overflow:hidden;}
.fagui_row10 .fagui_fw_right .fagui_dh_list ul{width:700px;}
.fagui_row10 .fagui_fw_right .fagui_dh_list ul li{width:210px;float:left;padding:20px 0 20px 17px;border-right:1px #9e9e9e dotted;border-bottom:1px #9e9e9e dotted;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .tit{color:#4789b8;font-weight:bold;font-size:12px;height:35px;line-height:35px;overflow:hidden;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .tit a{color:#4789b8;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .img-txt .imgs{width:66px;float:left;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .img-txt .txts{color:#747474;width:127px;float:right;line-height:28px;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .img-txt .txts a{color:#747474;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .img-txt .txts a:hover{color:#4789b8;}
.fagui_row10 .fagui_fw_right .fagui_dh_list .img-txt .txts span {white-space:nowrap;margin-right:14px;}